
html{
    font-size: 18px;
}

nav{
    padding: 20px;
    text-align: center;
    background-color: rgb(21, 56, 65);
    
}
nav a{
    color: rgb(160, 155, 148);
    margin:0 20px;
}

main{
    margin:80px 15%;
    display:flex;
    align-content: space-between; 
    justify-content: space-between; 
}
main div{
    
    vertical-align: middle;
    margin-left: 70px;
    
}

main img{
    vertical-align: middle;
    width: 200%;
}    


footer{background-color: rgb(6, 6, 29);
    color:whitesmoke;
    text-align: center;
    margin:0 auto;
    padding-top: 1px;
    padding-bottom: 20px;

}
main a, footer a{
    display: block;

    width: 300px;

    color: #ffffff;

    background-color: #f88e37;

    font-weight: bold;
    font-size: 14px;

    text-align: center;
    margin:0 auto;
    padding-top: 2px;
    padding-bottom: 2px;
    text-decoration: none;
}
